<%
    var headerTitle = 'Dashboard';
%>

<% include partials/header.ejs %>

<div class='container main dashboard-view'>
    <form class='hidden' id='report-detail' name='report-detail' action='/details' method='get'>
        <input id='report-id' type='text' value='' name='reportId'>
    </form>
    
    <div class='ui grid'>
        <div class='sixteen wide column'>
            <h1>Dashboard</h1>
        </div>
        
        <% if (typeof fields === 'undefined' || fields.length === 0) { %>
            
            <div class=''>
                Nothing to display. 
            </div>
            
        <% } else { %>
            
            <div class='sixteen wide tablet eight wide computer column'>
                <div class='ui segment padded'>
                    <div class='segment-title'>
                        Report Trends By Status - Test 
                    </div>
                    
                    <canvas id='test-trends'></canvas>
                </div>
            </div>
            
            <div class='sixteen wide tablet eight wide computer column'>
                <div class='ui segment padded'>
                    <div class='segment-title'>
                        Report Trends By Status - Step 
                    </div>
                    
                    <canvas id='step-trends'></canvas>
                </div>
            </div>
            
            <div class='sixteen wide tablet eleven wide computer column'>
                <div class='ui segment padded'>
                    <div class='segment-title'>
                        Reports (Last 5 Runs)
                    </div>
                    
                    <table class='ui table'>
                        <thead>
                            <th></th>
                            <th>File</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Test Distribution</th>
                            <th>Log Distribution</th>
                            <!--<th></th>-->
                        </thead>
                        <tbody>
                            <% var testsPassed = 0, testsFailed = 0, testsOthers = 0; %>
                            
                            <% for (var ix = 0; ix < fields.length; ix++) { %>
                            
                                <% 
                                    var distIndex = null;
                                    
                                    for (iy = 0; iy < statusDistribution.testDistribution.length; iy++)
                                        statusDistribution.testDistribution[iy][0].owner == fields[ix].id && ( distIndex = iy );
                                %>
                                
                                <tr>
                                    <td><%= (ix + 1) %></td>
                                    <td><a href='/reportDetails?id=<%= fields[ix].id %>'><%= fields[ix].fileName %></a></td>
                                    <td><span class='ui label'><i class='fa fa-calendar icon'></i><%= new Date(fields[ix].startTime).toLocaleString() %></span></td>
                                    <td><span class='ui label'><i class='fa fa-calendar icon'></i><%= new Date(fields[ix].endTime).toLocaleString() %></span></td>
                                    <td>
                                        <%
                                            var passed = 0, failed = 0, others = 0;
                                            var testDistribution = statusDistribution.testDistribution[distIndex];
                                            
                                            testDistribution.forEach(function(item) {
                                                item._id === 'pass' && ( passed += item.count );
                                                (item._id === 'fail' || item._id === 'fatal') && ( failed += item.count );
                                                (item._id === 'skip' || item._id === 'warning' || item._id === 'error') && ( others += item.count );
                                            });
                                            
                                            testsPassed += passed;
                                            testsFailed += failed;
                                            testsOthers += others;
                                        %>
                                        
                                        <div class='progress'>
                                            <div class='progress-bar progress-bar-success progress-bar-striped' style='width: <%= (passed / (passed + failed + others)) * 100 %>%'>
                                                <span class='sr-only'><%= passed %></span>
                                            </div>
                                            <div class='progress-bar progress-bar-info progress-bar-striped' style='width: <%= (others / (passed + failed + others)) * 100 %>%'>
                                                <span class='sr-only'><%= others %></span>
                                            </div>
                                            <div class='progress-bar progress-bar-danger progress-bar-striped' style='width: <%= (failed / (passed + failed + others)) * 100 %>%'>
                                                <span class='sr-only'><%= failed %></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <%
                                            var passed = 0, failed = 0, others = 0;
                                            var logDistribution = statusDistribution.logDistribution[distIndex];
                                            
                                            logDistribution.forEach(function(items) {
                                                items.forEach(function(item) {
                                                    if (item._id === 'pass') { passed += item.count; }
                                                    else if (item._id === 'fail' || item._id === 'fatal' ) { failed += item.count; }
                                                    else { others += item.count; }
                                                });
                                            });
                                        %>
                                        
                                        <div class='progress'>
                                            <div class='progress-bar progress-bar-success progress-bar-striped' style='width: <%= (passed / (passed + failed + others)) * 100 %>%'>
                                                <span class='sr-only'><%= passed %></span>
                                            </div>
                                            <div class='progress-bar progress-bar-info progress-bar-striped' style='width: <%= (others / (passed + failed + others)) * 100 %>%'>
                                                <span class='sr-only'><%= others %></span>
                                            </div>
                                            <div class='progress-bar progress-bar-danger progress-bar-striped' style='width: <%= (failed / (passed + failed + others)) * 100 %>%'>
                                                <span class='sr-only'><%= failed %></span>
                                            </div>
                                        </div>
                                    </td>
                                    <!--<td><a href='/reportDetails?id=<%= fields[ix].id %>'><i class='external icon'></i></a></td>-->
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class='sixteen wide tablet five wide computer column'>
                <div class='ui segment inverted padded'>
                    <div class='segment-title'>
                        Analysis (Last 5 Runs)
                    </div>
                    
                    <div class='chart-box'>
                        <canvas id='dashboard-test-analysis'></canvas>
                    </div>
                    
                    <div class='ui segment-footer'>
                        <div class='text-small'><strong><%= testsPassed + testsFailed + testsOthers %></strong> tests, <strong><%= testsPassed %></strong> passed</div>
                        <div class='text-small'><strong><%= testsFailed %></strong> tests failed, <strong><%= testsOthers %></strong> others</div>
                    </div>
                </div>
            </div>
            
            <% if (passedStatus || failedStatus) { %>
                
                <% 
                    var colSize = 'eight';
                    if (categories && categories.length > 0) colSize = 'six';
                %>
            
                <div class='eight wide tablet <%= colSize %> wide computer column'>
                    <div class='ui segment padded'>
                        <div class='segment-title'>
                            Top Passed
                        </div>
                        
                        <table class='ui table'>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var ix = 0; ix < passedStatus.length; ix++) { %>
                                    <tr>
                                        <td><a href='/search?regex=exact&name=<%= passedStatus[ix]._id.name %>'><%= passedStatus[ix]._id.name %></a></td>
                                        <td><%= passedStatus[ix].count %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class='eight wide tablet <%= colSize %> wide computer column'>
                    <div class='ui segment padded'>
                        <div class='segment-title'>
                            Top Failed
                        </div>
                        
                        <% if (!failedStatus || failedStatus.length === 0) { %>
                            <div class=''>
                                No failed tests. Great job!
                            </div>
                        <% } else { %>
                            <table class='ui table'>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var ix = 0; ix < failedStatus.length; ix++) { %>
                                        <tr>
                                            <td><a href='/search?regex=exact&name=<%= failedStatus[ix]._id.name %>'><%= failedStatus[ix]._id.name %></a></td>
                                            <td><%= failedStatus[ix].count %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        <% } %>
                        
                    </div>
                </div>
            <% } %>
            
            <% if (categories && categories.length > 0) { %>
                <div class='eight wide tablet four wide computer column'>
                    <div class='ui segment padded'>
                        <div class='segment-title'>
                            Categories
                        </div>

                        <table class='ui table'>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var ix = 0; ix < categories.length; ix++) { %>
                                    <tr>
                                        <td><%= categories[ix] %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                                                
                    </div>
                </div>
            <% } %>
            
        <% } %>
    </div>
</div>