<%
    var headerTitle = 'Reports Summary';
%>

<% include partials/header.ejs %>

<div class='container main'>
    <form class='hidden' id='report-detail' name='report-detail' action='/details' method='get'>
        <input id='report-id' type='text' value='' name='reportId'>
    </form>
    
    <div class='ui grid'>
        <div class='sixteen wide column'>
            <h1>Reports</h1>
        </div>
        
        <div class='two wide column'>
            <div class='ui segment'>
                <div class='segment-title'>
                    Total Reports
                </div>
                <div class='segment-lead text-right'>
                    <strong><%= itemCounts.reportsCount %></strong>
                </div>
            </div>
        </div>
        
        <div class='three wide column'>
            <div class='ui segment'>
                <div class='segment-title'>
                    Total Tests
                </div>
                <div class='segment-lead text-right'>
                    <strong><%= itemCounts.testsCount %></strong>
                </div>
            </div>
        </div>
        
        <div class='two wide column'>
            <div class='ui segment'>
                <div class='segment-title'>
                    Tests Passed
                </div>
                <div class='segment-lead text-right'>
                    <strong><%= itemCounts.testsPassed %></strong>
                </div>
            </div>
        </div>
        
        <div class='two wide column'>
            <div class='ui segment'>
                <div class='segment-title'>
                    Tests Failed
                </div>
                <div class='segment-lead text-right'>
                    <strong><%= itemCounts.testsFailed %></strong>
                </div>
            </div>
        </div>
        
        <div class='three wide column'>
            <div class='ui segment'>
                <div class='segment-title'>
                    Total Steps
                </div>
                <div class='segment-lead text-right'>
                    <strong><%= itemCounts.stepsCount %></strong>
                </div>
            </div>
        </div>
        
        <div class='two wide column'>
            <div class='ui segment'>
                <div class='segment-title'>
                    Steps Passed
                </div>
                <div class='segment-lead text-right'>
                    <strong><%= itemCounts.stepsPassed %></strong>
                </div>
            </div>
        </div>
        
        <div class='two wide column'>
            <div class='ui segment'>
                <div class='segment-title'>
                    Steps Failed
                </div>
                <div class='segment-lead text-right'>
                    <strong><%= itemCounts.stepsFailed %></strong>
                </div>
            </div>
        </div>
        
        <div class='sixteen wide column'>
            <div class='ui segment padded'>
                <div class='segment-title left'>
                    Reports
                </div>
                
                <label class='ui label right'>
                    <%= itemCounts.reportsCount %> Reports
                </label>

                <table class='ui table'>
                    <thead>
                        <th>#</th>
                        <th>File</th>
                        <th>StartTime</th>
                        <th>EndTime</th>
                        <th>TestDistribution</th>
                        <th>LogDistribution</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% for (var ix = 0; ix < fields.length; ix++) { %>
                            
                            <% 
                                var distIndex = null;
                                
                                for (iy = 0; iy < statusDistribution.testDistribution.length; iy++)
                                    if (statusDistribution.testDistribution[iy][0].owner == fields[ix].id)
                                        distIndex = iy;
                            %>
                        
                            <tr>
                                <td><%= (((currentPage * limit) - limit) + ix + 1) %></td>
                                <td><a href='/reportDetails?id=<%= fields[ix].id %>'><%= fields[ix].fileName %></a></td>
                                <td><span class='ui label'><i class='calendar icon'></i><%= new Date(fields[ix].startTime).toLocaleString() %></span></td>
                                <td><span class='ui label'><i class='calendar icon'></i><%= new Date(fields[ix].endTime).toLocaleString() %></span></td>
                                <td>
                                    <%
                                        var passed = 0, failed = 0, others = 0;
                                        var testDistribution = statusDistribution.testDistribution[distIndex];
                                        
                                        testDistribution.forEach(function(item) {
                                            if (item._id === 'pass') { passed = item.count; }
                                            else if (item._id === 'fail' || item._id === 'fatal' ) { failed = item.count; }
                                            else if (item._id === 'skip' || item._id === 'warning' || item._id === 'error') { others += item.count; }
                                        });
                                    %>
                                    
                                    <div class='progress'>
                                        <div class='progress-bar progress-bar-success' style='width: <%= (passed / (passed + failed + others)) * 100 %>%'>
                                            <span class='sr-only'><%= passed %></span>
                                        </div>
                                        <div class='progress-bar progress-bar-info progress-bar-striped' style='width: <%= (others / (passed + failed + others)) * 100 %>%'>
                                            <span class='sr-only'><%= others %></span>
                                        </div>
                                        <div class='progress-bar progress-bar-danger' style='width: <%= (failed / (passed + failed + others)) * 100 %>%'>
                                            <span class='sr-only'><%= failed %></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <%
                                        var passed = 0, failed = 0, others = 0;
                                        var logDistribution = statusDistribution.logDistribution[distIndex];
                                        
                                        logDistribution.forEach(function(items) {
                                            items.forEach(function(item) {
                                                if (item._id === 'pass') { passed += item.count; }
                                                else if (item._id === 'fail' || item._id === 'fatal' ) { failed += item.count; }
                                                else if (item._id === 'skip' || item._id === 'warning' || item._id === 'error') { others += item.count; }
                                            });
                                        });
                                    %>
                                    
                                    <div class='progress'>
                                        <div class='progress-bar progress-bar-success' style='width: <%= (passed / (passed + failed + others)) * 100 %>%'>
                                            <span class='sr-only'><%= passed %></span>
                                        </div>
                                        <div class='progress-bar progress-bar-info progress-bar-striped' style='width: <%= (others / (passed + failed + others)) * 100 %>%'>
                                            <span class='sr-only'><%= others %></span>
                                        </div>
                                        <div class='progress-bar progress-bar-danger' style='width: <%= (failed / (passed + failed + others)) * 100 %>%'>
                                            <span class='sr-only'><%= failed %></span>
                                        </div>
                                    </div>
                                </td>
                                <td><a href='/reportDetails?id=<%= fields[ix].id %>'><i class='external icon'></i></a></td>
                            </tr>
                            
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
            
            <% if (itemCounts.pages !== 1) { %>
            <div class='ui pagination menu'>
                <% 
                    var active = '';
                    
                    for (var ix = 0; ix < itemCounts.pages; ix++) { 
                        (ix + 1 === currentPage) && (active = 'active') || (active = '');
                %>
                <a href='?page=<%= (ix + 1) %>'>
                    <div class='item <%= active %>'>
                        <%= (ix + 1) %>
                    </div>
                </a>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</div>