<%
    var headerTitle = 'Search Tests';
%>

<% include partials/header.ejs %>

<div class='container main search-view'>
    <div class='ui grid'>
        <div class='sixteen wide column'>
            <h1>Search</h1>
        </div>
        
        <div class='sixteen wide tablet five wide computer column'>
            <div class='ui segment padded'>
                
                <form class='form' name='search' action='/search' method='get'>
                    <div class='ui form'>
                        <div class='two fields'>
                            <div class='field icon'>
                                <label>Start Date</label>
                                <input name='startDate' class='datepicker' placeholder='Test Start Date' type='text' value='<%= typeof query.startDate === "undefined" ? "" : query.startDate %>'>
                                <i class='fa fa-calendar icon'></i>
                            </div>
                            <div class='field icon'>
                                <label>End Date</label>
                                <input name='endDate' class='datepicker' placeholder='Test End Date' type='text' value='<%= typeof query.endDate === "undefined" ? "" : query.endDate %>'>
                                <i class='fa fa-calendar icon'></i>
                            </div>
                        </div>
                        
                        <div class='fields'>
                            <div class='ui six wide field'>
                                <label>Regex</label>
                                <select class='dropdown fluid' name='regex'>
                                    <option value='contains' <%= query.regex === 'contains' ? 'selected' : '' %>>contains</option>
                                    <option value='exact' <%= query.regex === 'exact' ? 'selected' : '' %>>exact</option>
                                    <option value='startsWith' <%= query.regex === 'startsWith' ? 'selected' : '' %>>startsWith</option>
                                    <option value='endsWith' <%= query.regex === 'endsWith' ? 'selected' : '' %>>endsWith</option>
                                </select>
                            </div>
                            <div class='ui ten wide field'>
                                <label>Test Name</label>
                                <input name='name' placeholder='Test Name' type='text' value='<%= typeof query.name === "undefined" ? "" : query.name %>'>
                            </div>
                        </div>

                        <div class='ui field'>
                            <label>Status</label>
                            <select multiple='' class='dropdown' name='status'>
                                <option value=''>Select Status</option>
                                <option value='pass' <%= (typeof query.status !== 'undefined' && query.status.indexOf('pass') >= 0) ? 'selected' : '' %>>Pass</option>
                                <option value='fail' <%= (typeof query.status !== 'undefined' && query.status.indexOf('fail') >= 0) ? 'selected' : '' %>>Fail</option>
                                <option value='fatal' <%= (typeof query.status !== 'undefined' && query.status.indexOf('fatal') >= 0) ? 'selected' : '' %>>Fatal</option>
                                <option value='error' <%= (typeof query.status !== 'undefined' && query.status.indexOf('error') >= 0) ? 'selected' : '' %>>Error</option>
                                <option value='warning' <%= (typeof query.status !== 'undefined' && query.status.indexOf('warning') >= 0) ? 'selected' : '' %>>Warning</option>
                                <option value='skip' <%= (typeof query.status !== 'undefined' && query.status.indexOf('skip') >= 0) ? 'selected' : '' %>>Skip</option>
                            </select>
                        </div>
                        
                        <!--<% if (cats && cats.length > 0) { %>
                        <div class='ui field'>
                            <label class='text-normal'>Category</label>
                            <select multiple='' class='dropdown' name='category'>
                                <option value=''>Select Category</option>
                                <% cats.forEach(function(cat, index) { %>
                                    <option value='<%= index %>'><%= cat %></option>
                                <% }); %>
                            </select>
                        </div>
                        <% } %>-->
                        
                        <a onclick='clearForm(this)' class="ui button">
                            Clear
                        </a>
                        <button type='submit' class="ui primary button">
                            Search
                        </button>
                    </div>
                    
                </form>

            </div>
        </div>
        
        <% if (!tests || tests.length === 0) { %>
        
        <div class='eleven wide column'>
            No search results to display.
        </div>
        
        <% } else { %>            
            
        <div class='sixteen wide tablet eleven wide computer column'>                    
            
            <% tests = tests.reverse(); %>
            
            <% for (var ix = 0; ix < tests.length; ix++) { %>
            <div class='ui segment padded'>
                <% var test = tests[ix]; %>                
                <% include partials/test.ejs %>
            </div>
            <% } %>
                
        </div>
            
        <% } %>
        
    </div>
</div>