<%
    var headerTitle = 'Trends';
%>

<% include partials/header.ejs %>

<div class='container main'>
    <form class='hidden' id='report-detail' name='report-detail' action='/details' method='get'>
        <input id='report-id' type='text' value='' name='reportId'>
    </form>
    
    <div class='ui grid'>
        <div class='eight wide column'>
            <div class='ui segment'>
                <div class='segment-title'>
                     Report Trends By Status - Test 
                </div>
                
                <canvas id='test-trends'></canvas>
            </div>
        </div>
        
        <div class='eight wide column'>
            <div class='ui segment'>
                <div class='segment-title'>
                    Report Trends By Status - Step 
                </div>
                
                <canvas id='step-trends'></canvas>
            </div>
        </div>
        
        <% if (passed || failed) { %>
            <div class='eight wide column'>
                <div class='ui segment'>
                    <div class='segment-title'>
                        Top Passed
                    </div>
                    
                    <table class='ui table'>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var ix = 0; ix < passed.length; ix++) { %>
                                <tr>
                                    <td><%= (ix + 1) %></td>
                                    <td><a href='/searchTests?regex=exact&name=<%= passed[ix]._id.name %>'><%= passed[ix]._id.name %></a></td>
                                    <td><%= passed[ix].count %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class='eight wide column'>
                <div class='ui segment'>
                    <div class='segment-title'>
                        Top Failed
                    </div>
                    
                    <% if (!failed || failed.length === 0) { %>
                        <div class=''>
                            No failed tests. Great job!
                        </div>
                    <% } else { %>
                        <table class='ui table'>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var ix = 0; ix < failed.length; ix++) { %>
                                    <tr>
                                        <td><%= (ix + 1) %></td>
                                        <td><a href='/searchTests?regex=exact&name=<%= failed[ix]._id.name %>'><%= failed[ix]._id.name %></a></td>
                                        <td><%= failed[ix].count %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    <% } %>
                    
                </div>
            </div>
        <% } %>
        
    </div>
</div>